/*.block1_count {
	behavior: url(js/PIE.htc);
	position: relative;
}*/

body {
	min-width: 1310px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}



.camera_prev:hover, 
.camera_next:hover,
#owl .owl-prev:hover, 
#owl .owl-next:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
} 


.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.caption {
	background-color: #7e7979;
	padding-left: 20px;
}